{% extends 'phone/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container py-4">
  <h2 class="text-center alert alert-info">Create Phone Information</h2>
  <br>
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
  <form method="post">
    {% csrf_token %}

    <div id="div_id_first_name" class="form-group"><div class=""><input type="text" name="first_name" maxlength="10" class="textinput textInput form-control" required id="id_first_name" placeholder="First Name"> </div> </div>
    <br><div id="div_id_middle_name" class="form-group"><div class=""><input type="text" name="middle_name" maxlength="10" class="textinput textInput form-control" id="id_middle_name" placeholder="Middle Name"> </div> </div> <div id="div_id_last_name" class="form-group">
    <br><div class=""> <input type="text" name="last_name" maxlength="10" class="textinput textInput form-control" required id="id_last_name" placeholder="Last Name"> </div> </div>
    <div id="div_id_phone" class="form-group">
    <br><div class=""> <input type="number" name="phone" min="-9223372036854775808" max="9223372036854775807" class="numberinput form-control" required id="id_phone" placeholder="Phone Number"> </div> </div> <div id="div_id_email" class="form-group">
    <br><div class=""> <input type="email" name="email" maxlength="254" class="emailinput form-control" required id="id_email" placeholder="Email"> </div> </div> <div id="div_id_gender" class="form-group">
    <br><div class=""> <select name="gender" class="select form-control" required id="id_gender" placeholder="Gender"> <option value="" selected>---------</option> <option value="Male">Male</option> <option value="Female">Female</option>

</select> </div> </div>
    <br>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
  </form>
  <br>
  <footer class="row tm-row">
        <hr class="col-12">
        <div class="col-md-6 col-12 tm-color-gray">
            Designed by Abhishek Sahu
<!--                    Design by Abhishek Sahu<a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>-->
        </div>
        <div class="col-md-6 col-12 tm-color-gray tm-copyright">
            <span style="float:right">
            Copyright 2021 Phone Directory.
            </span>
        </div>
    </footer>
</div>
{% endblock %}